2.2.3 inputs

In [ ]:
a = input("Please entet three digits: ")
a = int(a)
bear_1 = a // 100
b = a % 100
bear_2 = b // 10
bear_3 = b % 10
sum_num =bear_1 +bear_2 + bear_3
equal_1 = sum_num // 3
remainder = sum_num % 3
remainder_0 = sum_num % 3 == 0
print(sum_num , equal_1 , remainder , remainder_0 , sep = "\n")

3.4.3 len

In [ ]:
user = input("Enter you string: ")
x = len(user)//2
lower_cs = user[0 : x]
upuer_cs = user[ x: ]
upuer_cs = upuer_cs.upper()
print(lower_cs + upuer_cs)

In [ ]:
3.5.3 len replace join

In [ ]:
user = input("Please enter your input: ")
user = user.strip().replace(" ", "")
#input_len = len(user)
output = ("_") * len(user)
output = " ".join(output)
print(output)

*4.2*.2 filandrom

In [ ]:
input_user = input()
x = input_user

def is_filandrom(y):
  y = y.replace(" ","")
  if y == y[::-1]:
    return True

print(is_filandrom(x))

borrow or rob
True


4.2.3 temprature converter
```
# This is formatted as code
```

In [ ]:
while True:
  choice = input("What would you like to convert,""/n"" Please enter C or F: ").upper()

  if choice not in ('F', 'C'):
    print("please enter C of F")
  else:
     break

if choice == ('C'):
  while True:
    try:
      cel = float(input("Enter Celcius value you would like to convert: "))
      cel_to_far = (9 * cel + 32 * 5) / 5
      print("Converted temperature in Fahrenheit:", cel_to_far)
      break
    except ValueError:
      print("Please enter a valid number for Celsius.")

else:
  while True:
    try:
      far = float(input("Enter Fahrenheit value you would like to convert: "))
      far_to_cel = (5 * far - 160) / 5
      print("Converted temperature in Celsius:",far_to_cel)
      break
    except ValueError:
        print("Please enter a valid number for Fahrenheit.")

What would you like to convert,/n Please enter C or F: kjgh
please enter C of F
What would you like to convert,/n Please enter C or F: jkg
please enter C of F
What would you like to convert,/n Please enter C or F: f
Enter Fahrenheit value you would like to convert: jhgf
Please enter a valid number for Fahrenheit.
Enter Fahrenheit value you would like to convert: 87
Converted temperature in Celsius: 55.0

4.2.2 date_time

In [ ]:
from datetime import datetime

while True:
    date_str = input("Enter a date (dd/mm/yyyy): ")
    try:
        # Remove any non-digit characters from the input date string
        date_str_digits = ''.join(filter(str.isdigit, date_str))

        # Parse the date string with different separators
        date_formats = ["%d%m%Y", "%d.%m.%Y", "%d/%m/%Y"]
        for fmt in date_formats:
            try:
                date = datetime.strptime(date_str_digits, fmt)
                print(date.strftime("%A"))
                break
            except ValueError:
                pass
        else:
            raise ValueError("Invalid date format")

        break  # Exit the loop if a valid date is parsed
    except ValueError:
        print("Invalid date format. Please enter date in the format dd/mm/yyyy or similar.")

TypeError: 'list' object is not callable

5.1.1 mystery function

In [ ]:
def mystery(index):
     print("z" * len(index))

mystery("lll")

func = mystery
func("python")

zzz
zzzzzz

In [ ]:
def manny(x):
    print(x * 5)

manny(6)

def shoot(index):
    print("z" * len(index))

shoot(3)

30

TypeError: object of type 'int' has no len()

5.2 animal

In [ ]:
animal = "rabbit"

def water():
  animal = "goldfish"
  print(animal)

water()
print(animal)

goldfish
rabbit

5.3.1 greeting

In [ ]:
def remainder(base, divide_by=2, show_greeting=True):
    if show_greeting:
        print("Welcome to my function")
    print(base % divide_by)

remainder(9)

Welcome to my function
1

5.3.4 last early

In [ ]:
def last_early(my_str):
    return sentence[-1] in sentence[:-1]

sentence = ("hi, my name is Aharon! Im studying python!")

print(last_early(sentence))

True

5.3.5 distace bool

In [ ]:
numbers = []

for i in range(3):
    num = int(input("Enter number {}: ".format(i+1)))
    numbers.append(num)

def distance(a, s, d):
    min_num = min(a, s, d)
    max_num = max(a, s, d)
    return max_num - min_num > 5

print(distance(*numbers))

Enter number 1: 4

In [ ]:
5.3.6 filter_teen

In [ ]:
def filter_teens(a=13, b=13, c=13):
    def remove_teen(n):
        return n if n not in [13, 14, 17, 18, 19] else 0

    return remove_teen(a) + remove_teen(b) + remove_teen(c)

numbers = []

for i in range(3):
    num = int(input("Enter number {}: ".format(i + 1)))
    numbers.append(num)

print(filter_teens(*numbers))

Enter number 1: 3
Enter number 2: 5
Enter number 3: 14
8

5.3.7 chocolate_maker

In [ ]:
def chocolate_maker(small, big, x):
  if (small + 5*big) < x:
    return False
  if x % 5 > small:
    return False
  return True

chocolate_small = int(input("Enter the number of SMALL chocolate cubes: "))
chocolate_big = int(input("Enter the number of BIG chocolate cubes: "))
chocolate_size = int(input("Enter length of desired bar: "))

result =chocolate_maker(chocolate_small, chocolate_big, chocolate_size)

print(result)

In [ ]:
5.4.1 finction documentation

In [ ]:

def main():
    # Call the function func

    def func(num1, num2):
        """add two numbers
        :param num1: the first number
        :param num2: the second number
        :type num1 : int
        :type num2 : int
        :return: the sum of the two numbers
        :rtype: int
        return num1 + num2
        """
        return num1 + num2

    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))

    result = func(num1, num2)
    print(result)

if __name__ == "__main__":
    main()

6.1.2 shift left list

In [ ]:

def main():
    # Call the function func
    def shift_left(my_list):
        """Shifts the list left by one element
        :param my_list: list to shift
        :type my_list: list
        :return: list
        :rtype: list
        """
        return my_list[1:] + my_list[:1]

    index = shift_left([1, 2, 3, 4, 5])
    print(index)

if __name__ == "__main__":
    main()

In [ ]:
6.2.3 formated list

In [ ]:
def main():
    def format_list(my_list):
        """Format a list of chemicals into a single string, remove the even indexed, add the last element with "and"
        :param my_list: list to format
        :type my_list: list
        :return: formatted string
        :rtype: str
        """
        format_start = ", ".join(my_list[::2])
        format_full = format_start + ", and " + my_list[-1]
        return format_full

    chem_list = ["hydrogen", "helium", "lithium", "beryllium", "boron", "magnesium"]
    print(format_list(chem_list))

if __name__ == "__main__":
    main()

hydrogen, lithium, boron, and magnesium

6.2.4 extended list

In [ ]:
def main():
    def extend_list_x(list_x, list_y):
        """merge two lists into a single list.
            no use of + operator
            no use of extend func
            set y first than x.
        :param list_x: first list
        :param list_y: second list
        :type list_x: list
        :type list_y: list
        :return: ex_stuff
        :rtype: list"""
        ex_lst = list_y.copy(), list_x.copy()
        ex_stuff = [element for sublist in ex_lst for element in sublist]
        return ex_stuff


    x = [4,5,6]
    y = [1,2,3]


    print(extend_list_x(x, y))




if __name__ == "__main__":
    main()

6.3.1 are_list_equal

In [ ]:
def main():
    def are_lists_equal(list1, list2):
        """Check if two lists are equal.
            no use of loops
        :param list1: first list
        :param list2: second list
        :type list1: list
        type list2: list
        :return: True if
        :rtype: bool"""
        list1.sort()
        list2.sort()
        return list1 == list2

    nums_1 = [0.6, 1, 2, 3]
    nums_2 = [3, 2, 0.6, 1]
    nums_3 = [9, 0, 5, 10.5]

    print(are_lists_equal(nums_1, nums_2))
    print(are_lists_equal(nums_2, nums_3))
    print(are_lists_equal(nums_3, nums_1))

if __name__ == "__main__":
    main()

6.3.2 longest srting

In [ ]:
def main():
    def longest(my_list):
        """Returns the longest string in the list.
        :param my_list:
        :my_list: list
        :return: longest
        :rtype: str"""
        longest = max(my_list, key=len)
        return longest

    list1 = ["111", "234", "2000", "goru", "birthday", "09"]

    print(longest(list1))

if __name__ == "__main__":
    main()

# 7.1.2 start>stop square

In [ ]:
def main():
    def squared_numbers(start, stop):
        """Return a list of numbers from start to stop, squared.
        :start: The starting number.
        :stop: The ending number.
        :type start: int
        :type stop: int
        :returns: A list of numbers from start to stop
        :rtype: list"""
        squared_numbers = []
        while start <= stop:
            squared_numbers.append(start ** 2)
            start += 1
        return squared_numbers

    print(squared_numbers(4, 8))

if __name__ == "__main__":
    main()

7.2.1 is greater

In [ ]:
def main():
    def is_greater(my_list, n):
        """filters out all the numbers that are greater than n
        :param my_list: list of numbers
        :param n: number from which to filter
        :my_list: list of numbers
        :n: number
        :return: list of numbers greater than n
        :rtype: list"""
        greater = []
        for i in my_list:
            if  i > n:
                greater.append(i)
        return greater


    print(is_greater([1, 30, 25, 60, 27, 28], 28))



if __name__ == "__main__":
    main()

7.2.2 seperate leter from other chars

In [ ]:
def main():
    def numbers_letters_count(my_str):
        """separate the numbers from the rest in string.
        include non letter
        :my_str: the list
        :type my_str: list
        :return: list with amount of num, amount of other char
         :rtype: list"""
        num_in_lst = []
        for i in my_str:
            if i.isdigit():
                num_in_lst.append(i)
        other_in_lst = len(my_str) - len(num_in_lst)
        result =  [len(num_in_lst), other_in_lst]
        return result

    print(numbers_letters_count("Python 3.6.3"))

if __name__ == "__main__":
    main()

7.2.4 BOOM

In [ ]:
def main():

    def seven_boom(end_number):
        """swaps the index that are multiplications of 7 and nums that include 7 with BOOM
        :param end_number: the num span
        :type end_number: int
        :return: list of nums with swapped BOOM
        :rtype: list"""
        result = []
        for num in range(end_number):
            if num % 7 == 0 or '7' in str(num):
                result.append('BOOM')
            else:
                result.append(num)
        return result

    print(seven_boom(17))


if __name__ == "__main__":
    main()


# 7.2.5 BOOM

In [ ]:
def main():

    def sequence_del(my_str):
        """ remove duplicate characters
        :param my_str: string to be cleaned
        type my_str: str
        :return: cleaned string
        :rtype: str"""
        cleaned = []
        for i in my_str:
            i = my_str[i]
            if i not in cleaned:
                cleaned.append(i)
        return cleaned

    print(sequence_del("ppyyyyythhhhhooonnnnn"))
    print(sequence_del("SSSSsssshhhh"))
    print(sequence_del("Heeyyy   yyouuuu!!!"))

if __name__ == "__main__":
    main()

TypeError: string indices must be integers

7.2.6 grocerie list

In [ ]:
def main():

    def groceries_check(list_of_groceries0):
        """Check and do stuff to list 8 in total
        1-print list, 2-print amount, 3-check if in list, 4-count time in list, 5-delete items from list, 6-add items to list, 7- remove invalid, 8- remove duplicates
        :param list_of_groceries0: given list
        :type list_of_groceries0: list
        :return: None
        :rtype: None
        """
        list_of_groceries = [word.lower() for word in list_of_groceries0]
        while True:
            get_choice = (input("What to do:\n1 - Print list of groceries\n2 - Print number of groceries\n3 - Check if item is in the grocery list\n4 - Count how many times an item appears in the list\n5 - Delete items from the list\n6 - Add items to the list\n7 - Delete items that don't belong (shorter than 3 characters)\n8 - Remove duplicates\n9 - Exit\nEnter your choice: "))

            if get_choice.isdigit():
                get_choice = int(get_choice)
                if get_choice == 9:
                    break
                elif get_choice in range(1, 9):
                    pass
                else:
                    print("Invalid choice","\n")
            else:
                print("Invalid input","\n")

            # 1 - Print list
            if get_choice == 1:
                print(list_of_groceries,"\n")

            # 2 - Print length of list
            elif get_choice == 2:
                print(len(list_of_groceries,"\n"))

            # 3 - search for item in list
            elif get_choice == 3:
                get_item3 = input("Enter what to search for: ")
                if get_item3 in list_of_groceries:
                    print(f"{get_item3} is in the grocery list","\n")
                else:
                    print(f"{get_item3} is not in the grocery list","\n")

            # 4 - Count how many times an item appears in the list
            elif get_choice == 4:
                get_item4 = input("Enter what to check ")

                if get_item4 in list_of_groceries:
                    print(list_of_groceries.count(get_item4),"\n")
                else:
                    print(f"{get_item4} is not in the grocery list","\n")

            # 5 - Delete items from the list
            elif get_choice == 5:
                get_item5 = input("Enter what to delete: ")
                if get_item5 in list_of_groceries:
                    while get_item5 in list_of_groceries:
                        list_of_groceries.remove(get_item5)
                    print(list_of_groceries,"\n")
                else:
                    print(f"{get_item5} is not in the grocery list","\n")

            # 6 - Add items to the list
            elif get_choice == 6:
                get_item6 = input("Enter what to add: ")
                list_of_groceries.append(get_item6)

            # 7 - Delete items that don't belong (shorter than 3 characters)
            elif get_choice == 7:
                valid_item7 = []
                for item in list_of_groceries:
                    if len(item) >= 3:
                        valid_item7.append(item)
                print(valid_item7)

            # 8 - Remove duplicates
            elif get_choice == 8:
                unique_items = []
                seen = set()

                for item in list_of_groceries:
                    if item not in seen:
                        unique_items.append(item)
                        seen.add(item)
                print(unique_items,"\n")


        print("Goodbye!")
        return get_choice

    grocery_list = [ "Milk", "Milk", "Milk","Apples", "oh", "Bread", "Bananas", "Milk", "Bread", "Eggs", "Milk", "Chicken", "Bread", "Rice", "Pasta", "Bread", "Cheese", "Tomatoes", "Potatoes", "Carrots", "Onions", "Spinach", "Yogurt", "Cereal", "Orange Juice", "Coffee", "Tea", "Olive Oil"]
    groceries_check(grocery_list)


if __name__ == "__main__":
    main()

7.2.7 arrow

In [ ]:

def main():

    def arrow(my_char, max_length):
        """print char in shape of an arrow
        :my_char: the character
        :max_length: the length of the arrow
        :type my_char: str
        :type max_length: int
        :return: None"""
        sym = my_char + " "
        for i in range(max_length+1):
            print(sym * i,"\n")
        for i in range(max_length):
            print(sym * (max_length-1 - i),"\n")



    print(arrow('*', 5))

if __name__ == "__main__":
    main()

8.2.1 tulpe format

In [ ]:
data = ("self.py", "learner", 1.5)
message = f"Hello {data[0]} {data[1]}, you have only {data[2]:.1f} units left before you master the course!"
print(message)

8.2.2 sorted tuple in list

In [ ]:
c

8.2.3 tupple variations

In [ ]:
#########     ATEMPT 1 : NOT GOOD PRINTS TUPLE IN LIST   ##############

    def mult_tuple(tuple1, tuple2):
        pairs = []
        for i in range(len(tuple1)):
            i == tuple1[i]
            for j in range(len(tuple2)):
                pairs.append((tuple1[i], tuple2[j]))
        flipped_tuples = [(y, x) for x, y in pairs]
        print(pairs, "\n", flipped_tuples)
        return

In [ ]:
def main():


    # * prints nested items in tuple
    #  *((x, y) for x in tuple1 for y in tuple2) iterates an combines . twice fo both varations
    def mult_tuple(tuple1, tuple2):
        """ retuns all pair variations
        :param tuple1: tuple of numbers
        :param tuple2: tuple of numbers
        :type tuple1: tuple
        :type tuple2: tuple
        :return: all pair variations
        :rtype: tuple"""
        result = (
        *((x, y) for x in tuple1 for y in tuple2),
        *((y, x) for y in tuple2 for x in tuple1)
        )
        return result

    first_tuple1 = (1, 2)
    second_tuple1 = (4, 5)
    print(mult_tuple(first_tuple1, second_tuple1), "\n")

    first_tuple2 = (1, 2, 3)
    second_tuple2 = (4, 5, 6)
    print(mult_tuple(first_tuple2, second_tuple2))

if __name__ == "__main__":
    main()

8.2.4 ANAGRAM

In [ ]:
##### VARIATION 1 BY ASSAF ######
list_of_strings = ['abc', 'bca', 'dfe', 'bac', 'fde']

# [['a', 'b', 'c']]
list_of_sorted_words = [sorted(list_of_strings[0])]

# [['a', 'b', 'c'], ['d', 'e', 'f']]
for word in list_of_strings:
  if sorted(word) not in list_of_sorted_words:
    list_of_sorted_words.append(sorted(word))

# [[['a', 'b', 'c']], [['d', 'e', 'f']]] make room in each list for the corresponding words
list_of_sorted_words = [[elem] for elem in list_of_sorted_words]

# [[['a', 'b', 'c'], 'abc', 'bca', 'bac'], [['d', 'e', 'f'], 'dfe', 'fde']] chain word with sorted
for sorted_word in list_of_sorted_words:
  for word in list_of_strings:
    if sorted_word[0] == sorted(word):
      sorted_word.append(word)

# remove first element from each element
list_of_sorted_words = [elem[1:] for elem in list_of_sorted_words]
print(list_of_sorted_words)

In [ ]:
##### VARIATION 2 BY CHAT GPT ########


def sort_anagrams(list_of_strings):
    res = []
    for word in list_of_strings:
        found_anagram = False
        for list_words in res:
            if sorted(list_words[0]) == sorted(word):
                list_words.append(word)
                found_anagram = True
        if not found_anagram:
            res.append([word])
    return res

list_of_words = ['deltas', 'retainers', 'desalt', 'pants', 'slated', 'generating', 'ternaries', 'smelters', 'termless', 'salted', 'staled', 'greatening', 'lasted', 'resmelts']

sort_ang = sort_anagrams(list_of_words)
print(sort_ang)

In [ ]:
### netanel pess variation


def sort_anagrams(list_of_strings):
    res = []
    for word in list_of_strings:
        for list_words in res:
            if sorted(list_words[0]) == sorted(word):
                list_words.append(word)
                break
        else:
            res.append([word])
    return res


list_of_words = ['deltas', 'retainers', 'desalt', 'pants', 'slated', 'generating', 'ternaries', 'smelters', 'termless', 'salted', 'staled', 'greatening', 'lasted', 'resmelts']

sort_ang = sort_anagrams(list_of_words)
print(sort_ang)

8.3.2 dict name_info

In [ ]:
golan = {
    "last_name": "martin",
    "birth_date": "09,09,1999",
    "hobbies": ["music", "dancing", "painting"]
}

choice = int(input("""choose action \n
                  1- reveal last name \n
                  2- reveal birth month \n
                  3- reveal hobbies \n
                  4- reveal last hobby \n
                  5- add cooking to hobbies \n
                  6- revert date to tuple with three numbers \n
                  7- calc age and add age directory \n"""))

if choice == 1:
    print(golan["last_name"])
elif choice == 2:
    birth_date_parts = golan["birth_date"].split(",")
    print(birth_date_parts[1])
elif choice == 3:
    print(golan["hobbies"])
elif choice == 4:
    print(golan["hobbies"][-1])
elif choice == 5:
    golan["hobbies"].append("cooking")
    print(golan["hobbies"])
elif choice == 6:
    golan["birth_date"] = tuple(map(int, golan["birth_date"].split(",")))
    print(golan["birth_date"])
elif choice == 7:
   golan["birth_date"] = tuple(map(int, golan["birth_date"].split(",")))
   age = 2024 - golan["birth_date"][-1]
   golan["age"] = age
   print(age)
else:
    print("Invalid choice")

SyntaxError: invalid syntax (<ipython-input-1-8a30b216454b>, line 5)

In [ ]:
8.3.3 def count_chars(my_str):

assaf exersices

In [ ]:
###  1 remove duplicates  ####
def remove_duplicates(original_list):
    """Remove duplicate elements from a list"""
    no_dup = []
    # for element in range(len(original_list)):
    for element in original_list:
        if element  not in no_dup:
            no_dup.append(element)
    return no_dup

print(remove_duplicates([1, 2, 2, 3, 1, 4, 5, 5, 8, ]))


#### 2 count occurrences ######
def count_occurrences(my_list):
    occurrences = []
    for item in my_list:
        if item not in occurrences:
            occurrences.append(item)
    return(len(occurrences))

print(count_occurrences([1, 2, 2, 3, 6,9 ,2]))


#### 3 sum & average #####
def num_count(num_list):
    sum = 0
    for num in num_list:
        sum = sum + num
    print(sum)
    average = sum/ len(num_list)
    print(average)

nums = [7,8,9,4,5,6,1,2,3,7,7,7,8,7,7,7,7,8,8,9,6,5,2,2,2,2,1,1,4,4]
num_count(nums)

8.3.3 count_chars

In [ ]:
def count_chars(my_str):
    counted = {}
    for char in my_str:
        if char != " ":
            if char in counted:
                counted[char] += 1
            else:
                counted[char] = 1
    print(counted)

magic_str = "abra cadabra"
count_chars(magic_str)

8.3.4 inverted dict

In [ ]:
def inverse_dict(d):
    inverted_d = {}
    for key, value in d.items():
        if value in inverted_d:
            inverted_d[value].append(key)
        else:
            inverted_d[value] = [key]
    return inverted_d

# Test the function
course_dict = {'I': 3, 'love': 3, 'self.py!': 2}
print(inverse_dict(course_dict))

In [ ]:
## BONUS

# flipped dictionary

city_populations = {
    "New York": 1,
    "Los Angeles": 2,
    "Chicago": 3,
    "Houston": 4,
    "Phoenix": 1
}

flipped = {}
for key, value in city_populations.items():
    if value in flipped:
        flipped[value].append(key)
    else:
        flipped[value] = [key]

print(flipped)

In [ ]:
# flipped dictionary ver 2

city_populations = {
    "New York": 1,
    "Los Angeles": 2,
    "Chicago": 3,
    "Houston": 4,
    "Phoenix": 1
}

flipped = {}
for key, value in city_populations.items():
    if value in flipped:
        flipped[value] = [flipped[value]]
        flipped[value].append(key)
    else:
        flipped[value] = key

print(flipped)

In [ ]:
# calculate average

grades_dict = {
    "a":81,
    "b":56,
    "c": 99,
}

grades = []
for key, value in grades_dict.items():
    grades.append(value)
summed = sum(grades)
result = summed / len(grades)
print(result)